<div class="footer">
  <div class="line"></div>
  <div>
    <div class="input">
        <form (ngSubmit)="sendMessage()"  autocomplete="off">
          <mat-form-field class="full-width">
            <input 
              [(ngModel)]="message" 
              name="message" 
              matInput 
              maxlength="100" 
              placeholder="Wiadomość">
            <mat-hint align="start">
              <strong>Wciśnij Enter, aby wysłać</strong> 
            </mat-hint>
            <mat-hint align="end">{{message.length}} / 100</mat-hint>
          </mat-form-field>    
        </form>
    </div>
  </div>
</div>
