<div class="message">
    <div [className]="getMessageClass()">
        {{message.message}}
    </div>
    <div style="clear: both"></div>
    <div class="footer {{positionClass}}">
      {{message.time | date:'shortTime'}}
    </div>
    <div style="clear: both"></div>
</div>
