.message {
    margin: 10px;
    font-size: 15px;

    .commonMessage {
        min-width: 20px;
        max-width: 200px;
        padding: 10px;
        min-height: 15px;
        border-radius: 10px;
    }

    .sentTextMessage {
       background-color: #FE7F82;
       color: white;
        float: right;
    }

    .receivedTextMessage {

        background-color: #e9ebee;
        float: left;
    }

    .footer {
        padding: 5px;
        font-size: 9px;
    }

    .toLeft {
        float: left;
    }

    .toRight {
        float: right;
    }
}

