.options {
    float: right;

    .material-icons {
        font-size: 30px !important;
    }

    .setting {
        float: left;
        cursor: pointer;
        margin-right: 15px;
        color: gray;

    }

    .close {
        float: left;
        cursor: pointer;
    }
}


.title {
    float: left;
    font-size: 20px;
}

.line {
    border-top: solid 1px #AA3939;
}

.header {
    padding: 10px;
    color:#AA3939;
}

.header-image {
  background-image: url("../../../../assets/picture/emoi.png");
  background-size: cover;
}

