<div class="header">
  <mat-card-header class="title">
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Paint Bot</mat-card-title>
      <mat-card-subtitle>Asystent malarza</mat-card-subtitle>
  </mat-card-header>

  <div class="options">
      <div class="setting" (click)="chatService.enableChatBot()">
          <mat-icon>settings</mat-icon>
      </div>
      
      <div class="close" (click)="chatService.enableChatBot()">
          <mat-icon>close</mat-icon>
      </div>
    
  </div>

  <div style="clear: both"></div>
  <div class="line"></div> 
</div>

