<div class="body"> 
    <div class="scroll" #scroll [scrollTop]="scroll.scrollHeight">
        <div *ngFor="let message of getConversation()" class="message">
            <app-message [message]="message"></app-message>
        </div>
    </div>
</div>

