<div *ngIf="!chatService.isChatBotActive" 
  (click)="activeBot()" 
  class="chatBotIcon">
  <mat-icon>chat</mat-icon>
  <div class="title">PaintBot</div>
</div>

<mat-card 
  class="chatBot box" 
  [class.opened]="chatService.isChatBotActive">
  <app-chat></app-chat>
</mat-card>




