.chatBotIcon { 
    position: absolute;
    bottom: 40px;
    right: 70px;
    cursor: pointer;
    color:#AA3939;

    .material-icons {
        font-size: 50px !important;
    }

    .title {
        font-weight: 600;
    }
}

.chatBot {
	width: 350px;
    height: 650px;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.box {
    max-height: 0px;
    overflow-y: hidden;
    padding: 0;
    transition: ease-in-out 400ms max-height;
}
  
.box.opened {
    max-height: 700px;
    transition: ease-in-out 600ms max-height;
}